* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
}

button {
  margin-top: 1rem;
  color: white;
  background: orange;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

input,
select,
button {
  font-family: inherit;
  margin: 0.5rem 0;
  font-size: 1rem;
  padding: 0.5rem;

}

button {
  color: white;
  background: orange;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 3.8rem;
  cursor: pointer;
  margin-top: 2rem;
}

button:hover {
  background-color: orangered;

}

.health__level {
  display: flex;
  gap: 20px;
}

.good_habits {
  display: flex;
  gap: 20px;
}

.bad__habits {
  display: flex;
  gap: 54px;
}