@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(148, 88, 232),
    rgb(0, 153, 255)
  );
}

h2 {
  font-size: 18px;
  color: rgb(0, 153, 255);
}

header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

input {
  width: 250px;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  padding-left: 5px;
}

main {
  display: flex;
  justify-content: center;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.4rem;
  height: 300px;
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
}

.poke_image img {
  height: 230px;
  width: 200px;
  background-color: rgb(228, 222, 222);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.info {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #fff;
}

.btn {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.poke_symbol {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.2rem;
}
